<html>
    <body>
        <p>Dear {{toName}},</p>
        <p>I use RevYou platform and I would like to request feedback on your experience working with me on {{projectName}}</p>
        <p>I want to be aware of my strengths and weaknesses as a professional and use your feedback to improve.</p>
        <p><a href="{{feedbackLink}}">Provide Feedback</a></p>
        <p>Appreciate your help!</p>
        <p>Best regards,<br/>{{fromName}}</p>
    </body>
</html>